# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.manifest
*.spec

# Virtualenv
.venv/
env/
venv/
ENV/

# VSCode
.vscode/

# Alembic cache
app/migrations/versions/*.pyc
app/migrations/__pycache__/

# Environment
.env
*.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Byte-compiled
*.pyc
*.pyo

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Test / Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
